# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.DS_Store
*.js.map
*.bundle
*.ipa
*.apk
*.aab

# Android
android/app/build/
android/build/
android/.gradle/
android/app/src/main/assets/index.android.bundle
android/local.properties
android/app/debug.keystore
android/app/release.keystore

# iOS
ios/build/
ios/Pods/

# Environment variables
.env
.env.*

# Editor directories and files
.idea/
.vscode/
*.iml